= devise_error_messages!
= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f|
  %h2 Edit settings
  .field.w30
    = f.label :email, "Email"
    = f.email_field :email, :readonly => true
  .field.w30
    = f.label :current_password, "Current password"
    %p (we need your current password to confirm your changes)
    = f.password_field :current_password
  .ux-collapsible.collapsed.w30{"data-on-expanded" => "box grey"}
    %span
      %a.fsettings{:href => "#"} Change my password
    .ux-content
      .field.w30
        = f.label :password, "New password"
        %p (leave blank if you don't want to change it)
        = f.password_field :password
      .field.w30
        = f.label :password_confirmation, "Confirm new password"
        = f.password_field :password_confirmation
  .actions
    %button.white{:type => "submit"} Update
    = link_to "Back", :back
  %hr.w30/
  %p
    = link_to "Delete my account", registration_path(resource_name), :confirm => "Are you sure?", :method => :delete, :class => 'fdelete'
