<%= devise_error_messages! :class => 'centered w30' %>

<div class="box centered w30">
  <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
    <h2>Change your password</h2>

    <hr class="shadow"/>

    <%= f.hidden_field :reset_password_token %>

    <div class="field w30">
      <%= f.label :password, "New password" %>
      <%= f.password_field :password %>
    </div>

    <div class="field w30">
      <%= f.label :password_confirmation, "Confirm new password" %>
      <%= f.password_field :password_confirmation %>
    </div>

    <div class="actions">
      <button type="submit" class="white">Change my password</button>
    </div>
  <% end %>
</div>