<div class ="box centered w50">
  <h1>
    <div class="i48grad-error"></div>
    The change you wanted was rejected
  </h1>
  <p>Maybe you tried to change something you didn't have access to.</p>
  <hr/>
  <%= link_to 'Back', :back, :class =>"button white" %>
</div>