<%= body do %>
  <%=  header do %>
    <img src="<%= InsteddRails.url %>/theme/images/header/logos/<%= application_name.underscore %>.png"/>
    <img src="<%= InsteddRails.url %>/theme/images/header/shadow_small.png"/>
  <% end %>
  <%= content do %>
    <%= yield %>
  <% end %>
  <%= footer do %>
    <hr/>
    <p>
      Do you have questions or need help? Contact us at
      <%= link "mailto:support@instedd.org?subject=#{application_name.titleize}" do %>
        support@instedd.org
      <% end %>
    </p>
  <% end %>
<% end %>
